<div class="navbar-pesquisa">
  <img class="logo" id="logo" src="../../assets/imagens/logo-nav.png">
  <div class="area-busca">
    <div class="lupa" id="lupa" onclick="abrir()">
      <img src="../../assets/icons/ic-search-copy.svg">
    </div>
    <div class="busca" id="busca">
      <form (keyup.enter)='filtrarEmpresasTipoNome(parametro)'>
        <input type="text" name="input-busca" id="input-busca" class="input-busca" placeholder="Pesquise pela empresa" (ngModel)='parametro' >
      </form>
      <div class="fechar" onclick="abrir()" (click)='listaTodasEmpresas()'>
          <img src="../../assets/icons/ic-close.svg">
      </div>
    </div>
  </div>
</div>

<div class="margem"></div>

<div ng-if="vazio" class="iniciar">Clique na busca para iniciar.</div>

<div class="lista" *ngIf="!ahEmpresaDetalhe; else detalhes"></div>
<div class="container">
  <div *ngFor="let empresa of empresas" (click)="empresaDetalhe(empresa.id)">
    <a [routerLink] = "['/empresas',empresa.id]">
      <div class="card-empresa-listagem">
        <div class="row">
          <div class="col-md-3 foto">
            <img src="{{empresa.foto}}">
          </div>
          <div class="col-md-6">
            <p class="nome">{{empresa.empresa_nome}}</p>
            <p class="negocio">{{empresa.empresa_tipo.empresa_tipo_nome}}</p>
            <p class="pais">{{empresa.pais}}</p>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>

<ng-template #detalhes class="lista">
    <app-empresa-descricao [empresa]="empresa"></app-empresa-descricao>
  </ng-template>
  