.login{
  position: absolute;
  width: 100vw;
  height: 100vh;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #ebe9d7;
  color: #383743;
}
.conteudo{
  max-width: 360px;
  text-align: center;
  margin: auto;
  margin-top: calc(60vh - 300px);
}

.titulo{
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 25px;
}
.subtitulo{
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 40px;
}

.entrar {
    width: 350px;
    height: 50px;
    background:#57bbbc;
}
form{
  text-align: left;
  font-weight: 400;
}

.md-form img{
  margin-top: 14px;
  width: 30px;
}

.md-form input[type=email], .md-form input[type=password], .md-form input[type=search-md], .md-form input[type=search], .md-form textarea.md-textarea{
  border-bottom: solid 1px #888785;
}
.md-form input[type=email]:focus:not([readonly]) + label, .md-form input[type=password]:focus:not([readonly]) + label {
  color: #ee4c77;
}
.md-form input[type=email]:focus:not([readonly]), .md-form input[type=password]:focus:not([readonly]) {
  border-bottom: 1px solid #ee4c77;
  box-shadow: 0 1px 0 0 #ee4c77;
}
.md-form .prefix~input, .md-form .prefix~textarea{
  margin-left: 0;
  padding-left: 2.5em;
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px #ebe9d7 inset;
}

input[type="text"], input[type="password"], textarea, select {
  outline: none;
}