 <div class="login">
    <div class="container">
      <div class="conteudo">
        <img src="../assets/imagens/logo-home.png">
        <h1 class="titulo">BEM-VINDO AO<br>EMPRESAS</h1>
        <h2 class="subtitulo">O melhor e mais simples site de busca por empresas, aproveite.</h2>

        <form id="formulario" method="POST" >
          <div class="input-field col s6">
            <div class=" md-form ">
              <img src="../../assets/icons/ic-email.svg" class="prefix">
              <input id="email" type="email" class="validate" ng-model="email">
              <label for="email">E-mail</label>
            </div>
          </div>

          <div class="input-field col s6">
            <div class="md-form">
            <img src="../../assets/icons/ic-cadeado.svg" class="prefix">
            <input id="senha" type="password" class="validate form-control" ng-model="senha" >
            <label for="senha">Senha</label>
            </div>
          </div>
            <!-- <input type="submit" class="botao btn-block" value="ENTRAR" (click)='logar(email, senha)'> -->
            <button class="btn waves-effect waves-light entrar" type="submit" value="entrar" (click)='logar(login,senha)'>
              Entrar
            </button>
        </form>
      </div>
    </div>
  </div>








