<div class="navbar-pesquisa-descricao">
  <a [routerLink] = "['/empresas']" class="voltar-listagem">
    <img src="../../../assets/imagens/voltar.png">
  </a>
  <img class="logo" id="logo" src="../../assets/imagens/logo-nav.png">
</div>
<div class="margem-card"></div>
<div class="container">
  <div class="card-empresa-selecionada">
    <div class="card">
      <div class="foto">
            <img src="{{empresa.foto}}">
      </div>
    </div>
    <div class="card-stacked">
      <div class="card-content">
          <p>{{empresa.empresa_nome}}</p>
          <p>{{empresa.descricao}}</p>
        </div>
      </div>
    </div>
  </div>