.navbar-pesquisa-descricao{
  background: linear-gradient(to bottom, #ec4b76 , #be3d68);
  height: 64px;
  width: 100vw;
  padding: 10px 40px;
  position:fixed;
  z-index: 9999;
  text-align: center;
}
.margem-card{
  height: 100px;
}

.voltar-listagem{
  position:static;
  margin-top:5px;
  float: left;
  color: #fff;
}
.navbar-pesquisa-descricao .logo{
  max-height: 90%;
}

.card-empresa-selecionada{
  padding: 28px 42px;
  border-radius: 5px;
  background-color: #fff;
  margin-bottom: 15px;
}
.foto{
  height: 300px;
  /* Imagem de exemplo background-image: url('../../../assets/imagens/empresa_sem_foto.jpeg'); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden; 
  padding: 0;
}
.foto img{
  max-width: 100%;
  min-height: 100%;
}
.descricao{
  font-size: 24px;
  font-weight: 400;
  color: #8d8c8c;
}

@media screen and (max-width: 320px) {
  .barra-navegacao{
    padding: 10px 5px!important;
  }
}

@media screen and (max-width: 767px) {
  .barra-navegacao{
    padding: 10px 10px!important;
  }
  .descricao{
    margin: 0 0 0 0px;
  }
}